{% extends 'dashboard/base.html' %}
{% block pagetitle %}Edit Profile{% endblock %}
{% block main %}
<h3>Edit Profile</h3>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <fieldset>
        <legend>Edit Information</legend>
        {% if messages %}
        <div class="errors">
          {% for message in messages %}
          {% ifequal message.tags "personalinfo error"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        <div class="messages">
          {% for message in messages %}
          {% ifequal message.tags "personalinfo info"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        {% endif %}
        <form class="" action="{% url 'db:update' id=user.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Email Address: <input type="email" name="email" class="form-control" value="{{user.email}}"></label>
          </div>
          <div class="form-group">
            <label>First Name: <input type="text" name="first_name" class="form-control" value="{{user.first_name}}"></label>
          </div>
          <div class="form-group">
            <label>Last Name: <input type="text" name="last_name" class="form-control" value="{{user.last_name}}"></label>
          </div>
          {% if request.session.user_level == 9 %}
          <div class="form-group">
            <label>Level: <select class="form-control" name="level">
              <option value="9" {% if user.level == 9 %}selected="selected"{% endif %}>Admin</option>
              <option value="1" {% if user.level == 1 %}selected="selected"{% endif %}>Normal</option>
            </select></label>
          </div>
          {% endif %}
          <input type="submit" value="Save" class="btn btn-primary">
          <input type="hidden" name="type" value="info">
        </form>
      </fieldset>
    </div>
    <div class="col col-lg-3">
      <fieldset>
        <legend>Change Password</legend>
        {% if messages %}
        <div class="errors">
          {% for message in messages %}
          {% ifequal message.tags "password error"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        <div class="messages">
          {% for message in messages %}
          {% ifequal message.tags "password info"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        {% endif %}
        <form class="" action="{% url 'db:update' id=user.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label>Password: <input type="password" name="password" class="form-control"></label>
          </div>
          <div class="form-group">
            <label>Confirm Password: <input type="password" name="confirm" class="form-control"></label>
          </div>
          <input type="submit" value="Update Password" class="btn btn-primary">
          <input type="hidden" name="type" value="password">
        </form>
      </fieldset>
    </div>
    <div class="col col-lg-6">
      <fieldset>
        <legend>Edit Description</legend>
        {% if messages %}
        <div class="errors">
          {% for message in messages %}
          {% ifequal message.tags "desc error"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        <div class="messages">
          {% for message in messages %}
          {% ifequal message.tags "desc info"%}
            <p>{{message}}</p>
          {% endifequal %}
          {% endfor %}
          </div>
        {% endif %}
        <form class="" action="{% url 'db:update' id=user.id %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <textarea name="description" rows="4" cols="70" value="">{{user.description}}</textarea>
            <br><br>
            <input type="submit" value="Save" class="btn btn-primary">
            <input type="hidden" name="type" value="description">
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
